#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 12   // 10


&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
  // 上下滚动编码器行为
    scroll_vertical_encoder: scroll_vertical_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    // 左右滚动编码器行为
    scroll_horizontal_encoder: scroll_horizontal_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        com_bs {
            bindings = <&kp BACKSPACE>;
            key-positions = <31 32>;
            layers = <0 1>;
        };

        com_del {
            bindings = <&kp DEL>;
            key-positions = <32 33>;
            layers = <0 1>;
        };

        com_exe {
            bindings = <&kp LC(E)>;
            key-positions = <14 15 16>;
        };

        com_lgui {
            bindings = <&kp LEFT_WIN>;
            key-positions = <36 37>;
        };

        com_left_p {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <19 20>;
            layers = <0>;
        };

        com_f5 {
            bindings = <&kp F5>;
            key-positions = <16 17>;
            layers = <0>;
        };

        com_plus {
            bindings = <&kp EQUAL>;
            key-positions = <33 34>;
            layers = <0>;
        };

        com_asta {
            bindings = <&kp ASTRK>;
            key-positions = <18 19>;
            layers = <0>;
        };

        com_right_p {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 21>;
        };

        com_ctrl_c {
            bindings = <&kp LC(C)>;
            key-positions = <27 28>;
        };

        com_ctrl_v {
            bindings = <&kp LC(V)>;
            key-positions = <39 40>;
        };

        com_ctrl_z {
            bindings = <&kp LC(Z)>;
            key-positions = <26 27>;
        };

        com_ctrl_x {
            bindings = <&kp LC(X)>;
            key-positions = <39 38>;
        };

        com_tidle {
            bindings = <&kp TILDE>;
            key-positions = <12 13>;
        };

        com_at {
            bindings = <&kp AT_SIGN>;
            key-positions = <13 14>;
        };

        com_unders {
            bindings = <&kp LS(MINUS)>;
            key-positions = <21 22>;
        };

        com_minus {
            bindings = <&kp MINUS>;
            key-positions = <31 20>;
        };

        com_caps {
            bindings = <&hold CAPS RIGHT_ALT>;
            key-positions = <52 31>;
        };
    };

behaviors {       
        hml: homewrow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
        };

        hmr: homewrow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
        };

        tab_dance_esc_tab: tab_dance_esc_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_DANCE_ESC_TAB";
            #binding-cells = <0>;
            bindings = <&hold ESC TAB>, <&kp GRAVE>;
        };

        hold: hold {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <270>;
            flavor = "balanced";
        };

        tog_layer: tog_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TOG_LAYER";
            bindings = <&tog>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mo_to: mo_to {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TO";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

   
   keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE           &kp N1         &kp N2                &kp N3                  &kp N4                &kp N5            &kp N6         &kp N7                 &kp N8                 &kp N9             &kp N0                &kp BACKSPACE
&tab_dance_esc_tab  &hold LS(Q) Q  &hold LS(W) W         &hold LS(E) E           &hold LS(R) R         &hold LS(T) T     &hold LS(Y) Y  &hold LS(U) U          &hold LS(I) I          &hold LS(O) O      &hold LS(P) P         &kp BACKSPACE
&kp LEFT_CONTROL    &hold LS(A) A  &hold LS(LEFT_ALT) S  &hold LS(LEFT_SHIFT) D  &hold LEFT_CONTROL F  &lt 2 G           &lt 3 H        &hold LEFT_CONTROL J   &hold RIGHT_SHIFT K    &hold RIGHT_ALT L  &hold COLON SEMI      &hold SINGLE_QUOTE ENTER
&kp LEFT_SHIFT      &hold LS(Z) Z  &hold LS(X) X         &hold LS(C) C           &hold LS(V) V         &hold LS(B) B     &hold B N      &hold LS(M) M          &hold LS(COMMA) COMMA  &hold LS(DOT) DOT  &hold QUESTION SLASH  &kp RSHFT
                                                         &lt 1 SINGLE_QUOTE      &lt 2 TAB             &lt 2 CAPS        &kp ENTER      &lt 1 SPACE
                                                                                 &lt 6 RIGHT_ALT       &lt 2 ESC         &mkp LCLK
            >;


        };

        layer_1 {
            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp HASH      &kp DOLLAR                                &kp DOLLAR      &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS             &kp UNDERSCORE
&kp N1            &kp N2           &kp N3        &kp N4                                    &kp N5          &kp N6         &kp N7     &kp N7         &kp N8        &kp N9                &kp MINUS                         &kp DEL
&kp EXCLAMATION   &kp PLUS         &kp ASTERISK  &kp PERCENT                               &kp UNDERSCORE  &kp MINUS      &trans     &kp N4         &kp N5        &kp N6                &hold RIGHT_BRACKET LEFT_BRACKET  &kp RET
&kp AT_SIGN       &kp EQUAL        &kp NUMBER_0  &hold RIGHT_PARENTHESIS LEFT_PARENTHESIS  &kp EQUAL       &kp PLUS       &kp N0     &kp N1         &kp N2        &kp N3                &kp BSLH                          &kp RSHFT
                                                 &trans                                    &trans          &trans         &kp DOT    &kp N0
                                                                                           &trans          &trans         &kp SPACE
            >;

          
        };

        layer_2 {
            bindings = <
&kp F12             &kp F1  &kp F2         &kp F3  &kp F4  &kp F5    &kp F6           &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
&tab_dance_esc_tab  &kp F2  &kp F12        &trans  &trans  &trans    &kp PAGE_UP      &kp HOME   &kp UP     &kp END    &none      &kp BSPC
&kp LEFT_CONTROL    &trans  &kp LS(LG(S))  &trans  &trans  &trans    &lt 3 PAGE_DOWN  &kp LEFT   &kp DOWN   &kp RIGHT  &trans     &kp RET
&kp LEFT_SHIFT      &trans  &trans         &trans  &trans  &trans    &mkp MCLK        &mkp LCLK  &mkp RCLK  &mkp MB4   &kp LC(W)  &trans
                                           &trans  &trans  &trans    &trans           &trans
                                                   &trans  &trans    &trans
            >;
       
            
        };

       Mouse {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
                           &trans     &trans     &trans       &trans     &trans
                                      &trans     &trans       &trans
            >;
             sensor-bindings = <&scroll_vertical_encoder>,   // 编码器1：上下滚动
                             <&scroll_horizontal_encoder>;  // 编码器2：左右滚动
            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
                           &trans     &trans     &trans       &trans     &trans
                                      &trans     &trans       &trans
            >;
                
                
               
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
                           &trans     &trans     &trans       &trans     &trans
                                      &trans     &trans       &trans
            >;
                
                
        };*/
    };
};
